#first_heading{
    color: red;
    font-size: 50px;
}
.second_heading{
    color: green;
    font_size: 40px;
}
h3{
    color: brown;
}
h3{
    color: black !important;
}
*{
    color: black;
}
li{
    color: red;
}
html{
    color: violet;
}